h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 49px;
}

h2 {
    text-transform: none;
    margin-top: 9px;
    margin-bottom: 10px;
    line-height: 30px;
}

.title-blog {
    margin-top: 60px;
    margin-bottom: 15px;
    Font-family: Montserrat;
    Font-style: Bold;
    Font-size: 40px;
    Line-height: 49px;
}

.row {
    margin: 0px 25px 0 21px;
}

.breadcrumb {
    display: flex;
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 49px;
}

.active {
    opacity: 0.5;
}

/* MAIN */


article {
    width: 380px;
}

article p {
    font-size: 18px;
    line-height: 25px;
}

.blog-info1,
.blog-info2 {
    display: flex;
    justify-content: space-between;
}

.text-item {
    margin-top: 11px;
    color: #818181;
}

.blog-info2 {
    margin-top: 18px;
    margin-bottom: 30px;
}

.swipe {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
}

.swipe-page {
    display: flex;
    margin-top: 5px;
    margin-left: 60px;
}

.page-list {
    font-weight: bold;
    margin-right: 64px;
}

.next {
    transition: opacity 0.3s ease-in-out;
}

.next:hover {
    opacity: 0.6;
}

.prev {
    transition: opacity 0.3s ease-in-out;
}

.prev:hover {
    opacity: 0.6;
}