* {
    box-sizing: border-box;
}

body {
    font-family: 'Crimson Text', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
}
h1,
h2,
h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    }

a {
    text-decoration: none;
    color: #1E0606;
}

.hidden {
    height: 0;
    font-size: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 40px 0;
}

img {
    max-width: 100%;
    display: block;
}

.button {
    color: #FFFFFF;
    background: #000;
    text-align: center;
}

.button:hover {
    background: #C29974;
}

.button:active {
    background: #CFAF91;
}

.crimson {
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
}

.outline {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


/* HEADER */
.header {
    padding-top: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.header-nav {
    margin: 0 auto 0 60px;
}

.header-list {
    display: flex;
    align-items: center;
}

.hover-a:hover {
    opacity: 0.6;
}

.hover-a:active {
    opacity: 0.3;
}

.header-item {
    margin-right: 20px;
}

.contact-btn {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    background: none;
}

.search {
    margin-right: 24px;
}

/* BANNER */

.banner {
    margin-top: 40px;
}

.banner-item {
    background: #EEE4DB;
    width: 100%;
    height: 383px;
    position: relative;
}

.banner-png {
    margin: 56px 100px 0 445px;
    position: absolute;
    bottom: -25px;
    right: 0;

}

.banner-text {
    position: relative;
    background: #C29974;
    width: 100%;
    height: 39px;
    text-align: center;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0 auto;
}

.banner-item h1 {
    font-family: Montserrat;
    font-size: 40px;
    line-height: 110%;
    max-width: 307px;
    margin: 12px 0px 0px 45px;
}

.banner-item h3 {
    font-size: 20px;
    line-height: 25px;
    margin-left: 46px;
}

.banner-btn {
    width: 161px;
    height: 40px;
    padding: 9px;
    margin-left: 44px;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.banner-title {
    padding: 89px;
}

.banner-text {
    padding: 11px ;
}

/* CATEGORY */

.category-title {
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    margin: 10px 0 30px ;
}

.category-item {
    display: flex;
    justify-content: space-between;
    height: 270px;
}

.apparel,
.shop,
.toys,
.accessories {
    position: relative;
    text-align: center;
}

.apparel-title,
.toys-title,
.shop-title,
.accessories-title {
    position: absolute;
    bottom: 42%;
    left: 64px;
    font-size: 26px;
    line-height: 32px;
    width: 155px;
    margin: 0 auto 7px;
}

.category-hover:hover {
    text-decoration: underline;
}

.accessories-title {
    left: 43px;
}

.apparel-title,
.shop-title {
    bottom: 36%;
}

.category-title {
    font-size: 38px;
    line-height: 46px;
    text-transform: uppercase;
}

.category h3 {
    color: #fff;
}

/* CATEGORY FOOTER */

.swipe {
    border: none;
    background: rgba(112, 187, 220, 0.2);
    width: 37px;
    height: 37px;
    margin: 0 auto;
    cursor: pointer;
}

.swipe-item {
    display: flex;
}

.swipe-text {
    max-width: 580px;
    width: 100%;
    margin: 29px 0 10px 21px;
}

.swipe-right {
    padding: 4px;
}

.swipe-left {
    transform: scale(-1,1);
    padding: 4px;
}

.swipe-right svg:hover {
    stroke: #C29974;
    stroke-width: 2;
}

.swipe-left svg:hover {
    stroke: #C29974;
    stroke-width: 2;
}

.swipe-left svg:active {
    stroke: #C29974;
    opacity: 0.5;
    stroke-width: 2;
    box-sizing: border-box;
}

.swipe-right svg:active {
    stroke: #C29974;
    opacity: 0.5;
    stroke-width: 2;
    box-sizing: border-box;
}

.swipe-btn {
    margin-top: 32px;
}

.swipe-footer {
    display: flex;
}


/* DELIVERY */


.delivery {
    display: flex;
}

.deli-title {
    text-transform: uppercase;
    font-size: 38px;
    line-height: 46px;
    margin: 0;
}

.delivery-item {
    margin-top: 32px;
    margin-left: 120px;
}

.delivery-item p {
    width: 470px;
}

.deli-list {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 30px;
    margin: 12px 0;
}

.deli-list li {
    margin-bottom: 18px;
    margin-left: -61px;
    padding-left:61px ;
}

.source {
    cursor: pointer;
}

.target {
    margin-top: 30px;
}

.hidden-list {
    display: none;
}

.deli-btn {
    margin-top: 25px;
    display: block;
    max-width: 100%;
    width: 149px;
    max-height: 40px;
    height: 100%;
    background: #000;
    margin: 10px 0 0 0;
    text-align: center;
    padding-top: 9px;
    text-transform: uppercase;
}

.item {
    margin-top: -12px;
}


/* BRANDS */


.brands-img {
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* description */

.description {
    display: flex;
    margin: 0 auto;
}

.about-title {
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    margin: 0;
    text-transform: uppercase;
    margin: 10px 0 0 32px;
}

.min-title {
    font-size: 26px;
    line-height: 32px;
}

.text-about {
    width: 543px;
    background: #E1F0F7;
    margin-right: 57px;
    padding: 33px 31px 33px;
    margin-top: -21px;
}

.text-about p {
    margin-top: 10px;
}

.about-btn {
    display: block;
    max-width: 100%;
    width: 123px;
    max-height: 40px;
    height: 100%;
    background: #000;
    margin: 21px 0 0 0;
    padding: 9px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
}

.map-title {
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    margin: 10px 0 0 32px;
    text-transform: uppercase;
}

.text-map {
    width: 543px;
    background: #E1F0F7;
    padding: 25px 24px 85px 31px;
    margin-top: -20px;
}

.map-yandex {
    margin-left: 30px;
    margin-top: -82px;
}


/* FOOTER */


footer {
    background: #434343;
    margin-top: 11px;
}

.footer-container {
    padding: 0;
}

footer a {
    color: #FFFFFF;
}

.footer-header {
    color: #AAAAAA;
    margin-bottom: 23px;
    margin-top: 100px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
}

.footer-block {
    width: 100%;
}

.connect-block {
    padding: 0 0 0 17px;
}

.border {
    border-bottom:1px solid #666666;
    margin-bottom: 28px;
    width: 380px;
}

.item-footer {
    margin-bottom: 15px;
}

.social-connect {
    display: flex;
}

.social-connect li {
    margin-right: 10px;
    margin-top: 25px;
}


/* STYLE EMAIL */


.form-mail {
    width: 383px;
}

input[type=email] {
    padding: 10px;
    background: #666666;
    margin: 0;
    width: 299px;
    height: 40px;
    border: none;
}

input[type="email"]::placeholder {
    color: #EBEBEB;
}

.email-btn {
    margin-left: -3px;
    width: 81px;
    height: 40px;
    background: #000;
    color: #fff;
    border: none;
    cursor: pointer;
}

.item-footer {
    font-size: 16px;
    line-height: 22px;
    color: #fff;
    flex: 1 1 33.33%;

}

.footer-lower-block {
    display: flex;
    margin-top: 23px;
    padding-bottom: 100px;
}

.border-lower {
    border-top: 1px solid #666666;
    margin-top: 11px;
}

.information-block {
    margin-left: 15px;
}

.center-item {
    padding-left: 7px;
}

.last-item {
    padding-left: 13px;
}



/* STAR RAITING */


.rating-block {
    display: flex;
}

.rait { 
    display: flex;
}

.rating-area {
	overflow: hidden;
	width: 230px;
    margin-top: -7px;
    padding-right: 121px;
}

.rating-area:not(:checked) > input {
	display: none;
}

.rating-area:not(:checked) > label {
	float: right;
	padding: 0;
	cursor: pointer;
	font-size: 20px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}

.rating-area:not(:checked) > label:before {
	content: '★';
}

.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: #C29974;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}

.rate-area > label:active {
	position: relative;
}

.rating-block:hover {
    color: #C29974
}

.social-connect img:hover {
    opacity: 0.6;
    background: #000;
    border-radius: 15px;
}

.social-connect img:active {
    opacity: 0.3;
    background: #000;
    border-radius: 15px;
}

.hover-footer-lower a {
    color: rgb(129, 129, 129);
}

.hover-footer-lower a:hover {
    color: #fff;
    text-decoration: underline;
}

/* MODAL WINDOW */

.popup-form {
    margin: 0 auto;
    background: #E5EAF8;
    padding: 42px 40px;
    width: 680px;
    height: 542px;
}

.block-one input {
    width: 600px;
    height: 50px;
    margin-top: 6px;
    margin-bottom: 20px;
}

.block-two {
    display: flex;
    margin-bottom: 20px;
}

.item-one input{
    width: 290px;
    height: 50px;
}

.item-two input{
    width: 290px;
    height: 50px;
}

.comment {
    margin-bottom: 20px;
}

.comment textarea {
    width: 600px;
    height: 150px;
}

.check-agree {
    margin-bottom: 20px;
}

.check-agree label {
    font-size: 14px;
    line-height: 16px;
}

input[type=checkbox] {
    display:none; 
    visibility:hidden;
}

input[type=checkbox] + label::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #C29974;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

input[type=checkbox]:not(:disabled):not(:checked)+label:hover::before {
    border-color: #C29974;
}

input[type=checkbox]:not(:disabled):active+label::before {
    border: 2px solid #795f48;
}

input[type=checkbox]:focus+label::before {
    box-shadow: 0 0 0 3px #77604b;
}

input[type=checkbox]:not(:checked)+label::before {
    border-color: #664d38;
}

input[type=checkbox]:checked+label::before {
    border-color: #C29974;
    background-image: url("/image/button/checkbox.png");
    background-size: 15px 15px;
}

.btn-submit {
    width: 106px;
    height: 40px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

/* MODAL */

.popup-overlay {
    width: 100%;
    height: 100vh;
    background: rgba(125, 151, 218, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.popup-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}

.popup-close {
    position: fixed;
    top: 0;
    right: -35px;
    background:none;
    border: none;
    cursor: pointer;
}

.popup-close:hover {
    opacity: 0.5;
}

.popup-open,
.popup-overlay-open {
    display: block;
}