* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open sans','Montserrat', Arial, sans-serif, 'Crimson Text', serif;
    font-size: 14px;
}

.container {
    width: 1180px;
    margin: 0 auto;
}

.hidden {
    height: 0;
    font-size: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.outline{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.a-hover {
    transition: opacity .3s ease-in-out;
}

.a-hover:hover {
    opacity: 0.6;
}

.a-hover:active {
    opacity: 0.3;
}

.hover-btn {
    transition: background-color .3s ease-in-out;
}

.hover-btn:hover {
    background-color: #C29974;
}

.hover-btn:active {
    background-color: #CFAF91;
}

.button {
    font-weight: bold;
    background: #000;
    color: #ffffff;
    cursor: pointer;
}

.crimson {
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
}



/* START HEADER */

.header {
    margin-bottom: 59px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.header a {
    color: #000;
    text-transform: uppercase;
}

.header-nav {
    margin: 0 auto 0 60px;
}

.header-nav > ul {
    display: flex;
}

.header-nav > ul > li {
    margin-right: 20px;
    font-size: 14px;
    line-height: 100%;
}

.search-contact {
    display: flex;
    align-items: center;
}

.search-contact img {
    margin-top: 5px;
}

.search-contact a {
    font-weight: bold;
    margin-left: 24px;
}

/* END HEADER */


/* START FOOTER */

.footer {
    background: #434343;
    font-size: 16px;
}

.footer a {
    color: #FFFFFF;
}

.footer-nav {
    padding-top: 103px;
    display: flex;
    justify-content: space-between;
}

.footer-top {
    color: #AAAAAA;
}

.footer-top-border {
    width: 380px;
    margin: 23px 20px 31px 0;
    border-top: 1px solid #666666;
}

.footer-list ul li {
    margin-bottom: 19px;
}

.social ul {
    display: flex;
}

.social ul li {
    margin-right: 10px;
    margin-top: 25px;
}

.email-block {
    margin-top: -4px;
}

.email-text {
    width: 299px;
    height: 40px;
    font-size: 16px;
    padding: 0 0 0 15px;
    color: #ffffff;
    background: #666666;
    border: 1px solid transparent;
    margin-top: -5px;
    transition: border .3s ease-in-out;
}

.email-text:hover {
    border: 1px solid #fff;
}

.email-text::placeholder {
    color:#EBEBEB;
}

.btn-join {
    height: 40px;
    width: 81px;
    border: 1px solid transparent;
    margin-left: -4px;
    text-transform: uppercase;
}

.footer-border-bot {
    border-top:1px solid  #666666;
    margin: 10px 0 23px 0;
}

.item-footer {
    padding-bottom: 100px;
}

.footer-bot ul {
    display: flex;
    flex: 1 1 33.33%;
}

.footer-bot ul li{
    flex: 1 1 33.33%;
}

/* STAR RAITING */


.color-style {
    color: #C29974;
}

.rating-block {
    display: flex;
}

.rait {
    display: flex;
}

.rating-area {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
}

.rating-area > input {
    display: none;
}

.item-footer__inner {
    display: flex;
}

.rating-area:not(:checked) > label {
    cursor: pointer;
}

.rating-area > label {
    content: '';
    display: inline-block;
    height: 16px;
    width: 19px;
}
.rating-area > label:first-of-type {
    width: 16px;
}
.rating-area:not(:checked) label {
    background: url('../image/svg/star.png') no-repeat;
}

.rating-block__title,
.center-list-item {
    color: #fff;
}
.center-list-item {
    height: 0;
    cursor: pointer;
    transition: opacity .3s ease-in-out;
}

.center-list-item:hover {
    opacity: 0.6;
}

.last-list-item {
    color: #A2A2A2;
}

.rating-area:not(:checked) .rating-block__title,
.rating-area:not(:checked) label:hover ~ .rating-block__title,
.rating-area:not(:checked) .rating-block__title:hover {
    background: transparent;
}

.rating-area .rating-block__title:hover {
    cursor: default;
}

.rating-area .rating-block__title {
    height: auto;
    width: auto;
    padding-right: 28px;
}

.rating-area input:checked ~ label {
    background: url('../image/svg/star-hover.png') no-repeat;
    color: #C29974;
}

.rating-area:not(:checked) label:hover,
.rating-area:not(:checked) label:hover ~ label {
    background: url('../image/svg/star-hover.png') no-repeat;
    color: #C29974;
}

.rating-area input:checked + label:hover,
.rating-area input:checked + label:hover ~ label,
.rating-area input:checked ~ label:hover,
.rating-area input:checked ~ label:hover ~ label,
.rating-area label:hover ~ input:checked ~ label {
    background: url('../image/svg/star-hover.png') no-repeat;
    color: #C29974;
}

.item-footer__inner:hover {
    color: #C29974
}

.rate-area > label:active {
    position: relative;
}

.social-connect img:hover {
    opacity: 0.6;
    background: #000;
    border-radius: 15px;
}

.social-connect img:active {
    opacity: 0.3;
    background: #000;
    border-radius: 15px;
}

.hover-footer-lower a {
    color: rgb(129, 129, 129);
}

.hover-footer a:hover {
    color: rgb(95, 95, 95);
}

.hover-footer-lower a:hover {
    color: #fff;
    text-decoration: underline;
}

.popup-form {
    margin: 0 auto;
    background: #E5EAF8;
    padding: 42px 40px;
    width: 680px;
    height: 542px;
}

.block-one input {
    width: 600px;
    height: 50px;
    margin-top: 6px;
    margin-bottom: 20px;
}

.block-two {
    display: flex;
    margin-bottom: 20px;
}

.item-one input{
    width: 290px;
    height: 50px;
}

.item-two input{
    width: 290px;
    height: 50px;
}

.comment {
    margin-bottom: 20px;
}

.comment textarea {
    width: 600px;
    height: 150px;
    resize: none;
}

.check-agree {
    margin-bottom: 20px;
}

.check-agree label {
    font-size: 14px;
    line-height: 16px;
}

input[type=checkbox] {
    display:none; 
    visibility:hidden;
}

input[type=checkbox] + label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #C29974;
    border-radius: 3px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

input[type=checkbox]:not(:disabled):not(:checked)+label:hover::before {
    border-color: #C29974;
}

input[type=checkbox]:not(:disabled):active+label::before {
    border: 2px solid #795f48;
}

input[type=checkbox]:focus+label::before {
    box-shadow: 0 0 0 3px #77604b;
}

input[type=checkbox]:not(:checked)+label::before {
    border-color: #664d38;
}

input[type=checkbox]:checked+label::before {
    border-color: #C29974;
    background-image: url("/image/button/checkbox.png");
    background-size: 15px 15px;
}

.btn-submit {
    width: 106px;
    height: 40px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
}
