/* FILTER AND TITLE */

input[type=checkbox] {
    display:none; 
    visibility:hidden;
}

input[type=checkbox] + label::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 2px solid #C29974;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

input[type=checkbox]:not(:disabled):not(:checked)+label:hover::before {
    border-color: #C29974;
}

input[type=checkbox]:not(:disabled):active+label::before {
    border: 2px solid #795f48;
}

input[type=checkbox]:focus+label::before {
    box-shadow: 0 0 0 3px #77604b;
}

input[type=checkbox]:not(:checked)+label::before {
    border-color: #C29974;
}

input[type=checkbox]:checked+label::before {
    border-color: #C29974;
    background-image: url("/image/button/checkbox.png");
    background-size: 15px 15px;
}

.check {
    margin-right: 130px;
}

/* RADIO AMOUNT */

.block-radio {
    display: flex;
    margin-right: 60px;
}

.filter-title-4 {
    margin-bottom: 15px;
}

.form_radio_btn {
	display: inline-block;
}
.form_radio_btn input[type=radio] {
	display: none;
}
.form_radio_btn label {
	display: inline-block;
	cursor: pointer;
    width: 80px;
	padding: 0 15px;
	line-height: 34px;
    background:#fff;
	user-select: none;
}

.form_radio_btn input[type=radio]:checked + label {
	background: #F3D0DB;
}

.form_radio_btn label:hover {
	background: #EDDEEB;
}

.radio-1 label {
    padding-left: 25px;
}


.title {
    margin-top: 75px;
    font-size: 20px;
    margin-bottom: 30px;
}

.row {
    margin: 0px 21px;
}

.breadcrumb {
    display: flex;
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 49px;
}

.active {
    opacity: 0.5;
}


.filter-bg {
    background: rgba(125, 151, 218, 0.2);
    padding: 42px 0 ;
}

.filter {
    display: flex;
}

.range-value {
    display: flex;
    justify-content: space-between;
}

:root {
    --color: #fff;
}

input[type=range] {
    width: 188px;
    height: 6px;
    appearance: none;
    -webkit-appearance: none;
    background-color:  rgb(92, 92, 92); 
    margin-top: 21px;
    
}

input[type=range]::-webkit-slider-thumb {
    background: var(--color, white);
    appearance: none;
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    box-shadow: 0px 0 0 7px #C29974;
    cursor: pointer;
}

.delivery {
    margin-right: 69px;
}

.slider-list {
    margin-right: 110px;
}

.filter-title-1,
.filter-title-2,
.filter-title-3,
.filter-title-4 {
    font-weight: bold;
}

.color-check {
    margin-top: 10px;
}

.color-check li {
    margin-bottom: 14px;
}

.shop-list {
    margin-top: 12px;
}

.shop-list li{
    margin-bottom: 10px;
}

.custom-radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.btn-apply {
    margin-top: 33px;
}

.custom-radio+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 50px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-radio:not(:disabled):not(:checked)+label:hover::before {
    border-color: #C29974;
}

.custom-radio:not(:disabled):active+label::before {
    border: 2px solid #C29974;
}

.custom-radio:focus+label::before {
    box-shadow: 0 0 0 1px #C29974;
}

.custom-radio:not(:checked)+label::before {
    border-color: #C29974;
}

.custom-radio:checked+label::before {
    border-color: #C29974;
    background-image: url("/image/button/radio.png");
    background-size: 15px 15px;
}

.custom-radio:disabled+label::before {
    background-color: #e9ecef;
}

.quant1,
.quant2,
.quant3 {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.quant1 + label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-radio+label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #000000;
    border-radius: 50px;
    margin-right: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}



/* MAIN */



.product {
    margin-top: 60px;
}

.product-1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 63px;
    margin-top: -9px;
}

.product-1 a {
    margin-top: 10px;
}

.product-2{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

h2 {
    margin-top: 14px;
    font-size: 14px;
    line-height: 19px;
    font-weight: 100;
}

article {
    width: 380px;
}

button {
    height: 40px;
    width: 95px;
    background: #000;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
}

button:hover {
    opacity: 0.6;
}

button:active {
    opacity: 0.3;
}

.swipe {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.page {
    display: flex;
    margin-left: 65px;
    font-family: Montserrat;
    margin-bottom: 50px;
}

.page li {
    margin-right: 67px;
    font-weight: bold;
}